# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/

# Env & secrets
.env
.env.local
.env.*.local
*.pem

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example

# ML
ml/sagemaker/artifacts/
*.pkl
*.joblib

# Logs
logs/
*.log
npm-debug.log*

# Test / coverage
coverage/
.nyc_output/

# Docker
docker-data/

# Local dev ingestion artifacts
ingestion/local-s3/
